/* Stander Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8f6;
}

.container {
  background-color: #ffd788;
  width: 90%;
  /* height: 90%; */
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin: 4rem;
  display: grid;
}

input,
a,
button {
  font-family: "Poppins", sans-serif;
}

/* Nav Styling */
.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  height: 7rem;
  align-self: center;
}
/* --Nav Search */
.search {
  border-radius: 5rem;
  grid-column: 2 / span 3;
  background-color: white;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  position: relative;
}
.search-input,
.search-btn {
  border: none;
  outline: none;
}
.search-input {
  border-radius: 5rem;
  color: #9e7568;
  padding-left: 2rem;
  background: none;
  width: 100%;
  height: 100%;
}

.search-input::placeholder {
  color: #9e75686e;
}

.search-input:focus {
  outline: 1px solid #9e7568;
}

.search-btn {
  position: absolute;
  right: 1rem;
  background-color: #9e7568;
  color: white;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.search-btn:hover {
  background-color: #bd8b7c;
}

.search-btn:active {
  transform: scale(0.9);
}
/* --Nav Actions */
.actions {
  justify-self: flex-end;
}

.newRecipe-btn,
.bookmarks-btn {
  border: none;
  outline: none;
  color: #9e7568;
  background-color: white;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out,
    color 0.3s ease-in-out;
}

.newRecipe-btn:hover,
.bookmarks-btn:hover {
  background-color: #9e7568;
  color: white;
}

.newRecipe-btn:active,
.bookmarks-btn:active {
  transform: scale(0.8);
}

/* Main Content */
.main-content {
  grid-row: 2 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin-top: 2rem;
}
/* --Search Results */
.recipes-results-container {
  grid-column: 1 / span 1;
  grid-row: 1 / span 11;
  overflow: hidden;
  border-radius: 2rem;
}

.recipes-results-container::-webkit-scrollbar {
  display: none;
}

.result-default,
.result {
  background-color: white;
  width: 80%;
  border-radius: 1.5rem;
  padding: 1rem;
  color: #9e7568;
  height: 6rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.result:hover,
.result-default:hover {
  background-color: #b5c99a;
  color: white;
}

.result-default {
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.result-default i {
  margin-right: 1rem;
  font-size: 2rem;
}

.result {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  flex-direction: column;
  padding-left: 2rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.result:active {
  transform: scale(0.8);
}

.result .result-details {
  display: flex;
  align-items: center;
}

.result-ingredients {
  margin-left: 1rem;
}

.result.active {
  background-color: #b5c99a;
  color: white;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  grid-row: 12 / span 1;
  height: 1rem;
  justify-self: flex-end;
  color: #9c8780;
}

.pages span {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.pages span:hover {
  color: #afa4a0;
}
.pages span i {
  margin: 0.5rem;
}

.next-page {
  margin-right: 5rem;
}
/* --Recipe */
.recipe-content {
  background-color: white;
  grid-column: 2 / span 4;
  grid-row: 1 / span 12;
  border-radius: 2rem;
  color: #9e7568;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.content-default-message {
  grid-column: 3 / span 2;
  align-self: center;
}

.default-message-text {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  max-width: 30rem;
  font-weight: 500;
}
.default-message-text i {
  font-size: 4.1rem;
  margin-right: 1rem;
}

.stander-img {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(-7px -2px 4px rgba(0, 0, 0, 0.123));
}

/* Recipe Content */
.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / span 5;
}

.content-img {
  grid-column: 1 / span 1;
  overflow: hidden;
  width: 42rem;
  height: 27rem;
  border-radius: 2rem;
  margin: 2rem;
}
.content-img img {
  object-fit: cover;
  width: 100%;
}

.content-details {
  grid-column: 2 / span 2;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50%;
  width: 80%;
}

.content-details-title {
  grid-column: 1 / span 2;
  font-size: 3rem;
}
.content-details div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.content-details div i {
  margin-right: 1rem;
  font-size: 2rem;
}

.servings-minus,
.servings-plus {
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.servings-minus:hover,
.servings-plus:hover {
  color: #e0a08c;
}
.servings-minus:active,
.servings-plus:active {
  transform: scale(0.5);
}
.servings-minus {
  margin-left: 1rem;
}

.designer-link {
  color: #9c8780;
}

.directions {
  background-color: #9e7568;
  color: white;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 3rem;
  font-size: 1.3rem;
  padding: 1rem 7rem;
  margin-top: 2rem;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.directions:hover {
  background-color: #e0a08c;
}
.directions:active {
  transform: scale(0.8);
}

.content-ingredients {
  margin: 0 0 2rem 2rem;
  grid-row: 2 / span2;
  grid-column: 1 / span 3;
  overflow: hidden;
  height: 100%;
}

.content-ingredients-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-ingredients-title {
  font-size: 3rem;
  width: 100%;
}

.ingredient-item {
  font-size: 1.3rem;
  margin: 1rem;
}

.content-bookmark {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: #9e7568;
  color: white;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.content-bookmark:hover {
  background-color: #e0a08c;
}

.content-bookmark:active {
  transform: scale(0.5);
}
